*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, sans-serif;
}
header{
    background-color: #a80b0b;
    color: white;
    text-align: center;
    height: 120px;
    width: 100%;
}
main{
    display: grid;
    align-content: start;
    background-color: #022222;
    height: 400px;
    width: 70%;
    float: left;
    justify-content: center;
}
nav{
    background-color: #26042e;
    height: 400px;
    width: 30%;
    float: left;
}
footer{
    background-color: #085c05;
    height: 60px;
    clear: both;
    text-align: center;
}
div{
    height: 150px;
    width: 150px;
    text-align: center;
    margin: 20px;
    
}